#myform{
    border-color:goldenrod;
    margin-left: 200px;
    margin-right: 200px;
    padding: 40px;
    border-radius: 15cm;
    min-width: 20vw;

}
label{
    color:black;
    margin-left: 2rem;
    font-weight: bold;
}
input{
    width: 15vw;
    margin-left: 1rem;
    
}
button{
    margin-left: 1rem;
}
span{
    color: red;
    border-radius: 1px;
    margin-left: 450px;
    font-weight: bold;
}

.padding{
    padding-bottom: 10rem;
}