
<div class="container-fluid pt-5 pr-5 pl-5 padding">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
    
    <div class="card-body">


<div class="alert" [class.visible]="isVisible"> 
  {{info}}
</div>
<form class="border" id="myform" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="form-group ">
      <label for="sport">Sport Name</label>
  
      <input type="text" class="form-control-md" name="sportName" id="sportName"  placeholder="Enter sport"
      min="3" max="50" required [(ngModel)]="sport.sportName">
       </div>
      
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br>
<br>
  
  
      
</div>
</div>
</div>
</div>
</div>