<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row   aboutUsPage">
        <div class="col-md-6 col-lg-6">
          <h1 class="h4 text-center">About us</h1>
          <p class="mt-4 mb-4 "><small>Every dream needs to be driven by passion to make it come true. 
Sports Club is one such dream, formed by keeping sheer passion for the gentleman game-Cricket.
With a beautiful design and sprawling space; 
Sports Club has gradually spread its branches for other sports and has become an epitome of entertainment and leisure in the thriving city of Pune. 
Today, Sports Club is one of the most regal clubs of Pune and renowned for its state of the art amenities and splendid aura.
         </small> </p>
        </div>
        <div class="col-md-6 col-lg-6 text-center justify-content-center ">
          <h1 class="h4 ">Our Team</h1>
          <p class="mt-4 mb-4 ">
          <p>Deepika Battewar</p>
          <p>Rajesh Zambre</p>
          <p>Ritu Gupta</p>
          <p>Rujuta Jatte</p>
          <p>Samraddhi Soni</p>
          <p>Tejas Nimkar</p>
          <p>Vaibhav Bhardwaj</p>
        
        </div>

      </div>

    </div>
  </div>