<div class="container-fluid pt-4 pb-5 pr-5 pl-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
    
    <div class="card-body">


<h3 class="text text-info text-center">Unlock Requests</h3>
<div class="alert" [class.visible]="isVisible"> 
  {{message}}
</div>
<div *ngIf="length===0"> 
<h3 class="text-center text-danger">No data present</h3>
</div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
<mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let unlockrequests"> {{unlockrequests.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let unlockrequests"> {{unlockrequests.lastName}} </mat-cell>
    </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let unlockrequests"> {{unlockrequests.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lockDate">
        <mat-header-cell *matHeaderCellDef> Lock Date </mat-header-cell>
        <mat-cell *matCellDef="let unlockrequests"> {{unlockrequests.lockDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Unlock </mat-header-cell>
        <mat-cell *matCellDef="let unlockrequests">
                <button mat-stroked-button class="btn btn-info" (click)="unlockAccount(unlockrequests.id)">Unlcok</button>
        </mat-cell>
      </ng-container>
      
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
</mat-paginator>
</div>
</div>
</div>
</div>
</div>