

<div class="alert" [class.visible]="isVisible"> 
  {{message}}
</div>

<div class="container-fluid pt-5 padding">
  <div class="row">
      <div class="col-md-6 mx-auto py-5">
          <div class="card card-body ">


            <form [formGroup]="changepassForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label for="oldPassword" class="col-sm-6 col-md-8 control-label">Old Password</label>
                      <div class="col-sm-9">
                          <input type="password"  formControlName="oldPassword"
                           name="oldPassword" [(ngModel)]="changepassword.oldPassword" required id="oldPassword" 
                            placeholder="Enter old password"
                           [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"/>
                           <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>     </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="newPassword" class="col-sm-6 col-md-8 control-label">New Password</label>
                      <div class="col-sm-9">
                          <input type="password" formControlName="newPassword"
                           name="newPassword" [(ngModel)]="changepassword.newPassword" required id="newPassword"  placeholder="Enter new password"
                           [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
                           <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">New  Password is required</div>
                            <div *ngIf="f.newPassword.errors.minlength"> Password must be at least 4 characters long</div>
                            <div *ngIf="f.newPassword.errors.maxlength">Password should not exceed 8 characters</div>
                           
                         </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword" 
                    class="col-sm-6 control-label">Confirm Password</label>

                    <div class="col-sm-9">
                        <input type="password" name="confirmPassword" [(ngModel)]="changepassword.confirmPassword" formControlName="confirmPassword" required id="confirmPassword"  (keyup)="check($event)" placeholder="Enter confirm password"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        </div>
                    </div>
                    <div>
                    <span class="error" *ngIf="checkPassword">
                      Password and confirm password must be match.
                    </span>
                  </div>
                </div>
                  <div class="col-sm-9">

                      <button type="submit" [disabled]="checkPassword" mat-raised-button class="btn-primary" >Change Password</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
