
<div class="background">
    <header class="bg-transparent">
        <app-manager-header></app-manager-header>
    </header>
    
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12  background">
                    <router-outlet></router-outlet>
                   
                  </div>
            </div> 
        </div>               
    </main>
</div>


<!-- 
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <div class="bg-video-wrap">
                    <video src="../../../assets/video/basket-ball.mp4" loop muted autoplay>
                    </video>
                    <div class="overlay">
                       
                        <router-outlet></router-outlet>
                     
                      
                    </div>
               </div>
              </div>
        </div> 
    </div>               
</main> -->










