
  button,mat-header-cell,mat-cell,mat-header-row ,mat-row,mat-paginator {
    font-family: 'Jura', sans-serif !important;

}

div{
    font-family: 'Jura', sans-serif !important;
}
.mat-raised-button{
  border-radius: 20px;
}



mat-cell{
  display: grid;
}

mat-table{
  opacity: 0.9;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button{
  min-width: inherit;
}
.mat-header-cell,h6, input mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored {
  color: black;
  font-weight: 600;
}
.mat-raised-button {
  min-width: inherit;
  border-radius: 10px;
}


.alert  {
  position: fixed;
  top: 0;
  right: 0.5rem;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color:black;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all 0.2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateY(1.25rem);
}

.padding{
  padding-bottom: 10rem;
}