
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <div class="bg-video-wrap">
                    <video src="../../assets/video/chess.mp4" loop muted autoplay>
                    </video>
                    <div class="overlay">
                       
                        <button mat-raised-button routerLink="/register"><h1 class="text-light pb-4">Enroll Now</h1></button>
                     
                      
                    </div>
               </div>


              </div>

              <div class="col-12 ">
                  
              </div>
        </div> 
    </div>               
</main>
