
<div class="container-fluid pt-5 pb-5 pr-5 pl-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="alert" [class.visible]="isVisible">
          {{message}}
        </div>
        <div class="card-body">



          <h3 class="text-center text-info">Update Plan</h3>
          <div class="col-md-6 offset-md-3 ">
            <form [formGroup]="planForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label for="planName">Plan Name</label>
                <input type="text" formControlName="planName" class="form-control" id="planName"
                  [(ngModel)]="plan.planName" name="planName" readonly />
              </div>


              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" formControlName="amount" class="form-control" id="amount" [(ngModel)]="plan.amount"
                  name="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                  <div *ngIf="f.amount.errors.required">Amount needs to be entered</div>
                  <div *ngIf="f.amount.errors.min">Amount should not be less than 500 rupees</div>
                  <div *ngIf="f.amount.errors.max">Amount should not be exceed than 50000 rupees</div>
                </div>
              </div>


              <div class="form-group">
                <label for="duration">Duration(in days)</label>
                <input type="number" formControlName="duration" class="form-control" id="duration"
                  [(ngModel)]="plan.duration" name="duration"
                  [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
                <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                  <div *ngIf="f.duration.errors.required">Duration is required</div>
                  <div *ngIf="f.duration.errors.min">Plan duration must be at least 30 days long</div>
                  <div *ngIf="f.duration.errors.max">Plan duration not exceed 90 days </div>
                </div>
              </div>

              <button class="btn btn-outline-success mb-3" type="submit">Update Plan</button>
            </form>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>